.p-texto-titulo-infoC{
    margin-bottom: 20px;
}
.cont-envio-producto{
    margin: 0;
}
.displayOff{
    display: none;
}

/* responsive */
@media screen and (max-width: 1000px){
    .modoColumna{
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
}


