.cont-landing-B{
    width: 100%;
    height: 100lvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo-navbar);
}
.cont-texto-Y-img-landB{
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-landB{
    margin: 45px 0 0 0;
    color: black;
}
.texto-landB-titulo{
    width: 85%;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: black;
}
.texto-landB{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: black;
    margin: 0;
}
.cont-btn-turno{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-turno-whtsApp{
    width: 200px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    color: black;
    background-color: white;
    text-decoration: none;
    margin-top: 10px;
}

/* resp */
@media screen and (max-width: 1300px) {
    .cont-landing-B{
        height: auto;
    }
    .cont-titulo-landB{
        height: 15%;
        align-items: end;
    }
    .cont-texto-Y-img-landB{
        height: 25%;
    }
    .texto-landB{
        font-size: 17px;
        font-weight: 400;
    }
    .cont-btn-turno {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 1000px) {
    .texto-landB{
        font-size: 15px;
        font-weight: 300;
    }
}
@media screen and (max-width: 700px) {
    .cont-titulo-landB{
        height: 10%;
        align-items: end;
    }
    .cont-texto-Y-img-landB{
        height: 30%;
    }
    .texto-landB{
        font-size: 15px;
        font-weight: 300;
    }
    .cont-card-turno{
        width: 100%;
        height: 60%;
        align-items: center;
    }
    .card-turno{
        width: 300px;
        height: 75%;
    }
}
@media screen and (max-width: 550px) {
    .cont-landing-B{
        height: auto;
    }
    .cont-titulo-landB{
        width: 90%;
        height: 5%;
        align-items: end;
    }
    .texto-landB-titulo{
        width: 80%;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        color: white;
    }
    .titulo-landB{
        margin: 0;
        font-size: 15px;
        color: white;
    }
    .cont-texto-Y-img-landB{
        width: 95%;
        height: 40%;
    }
    .texto-landB{
        width: 95%;
        font-size: 15px;
        font-weight: 300;
    }
    .cont-card-turno{
        width: 95%;
        height: 55%;
        align-items: center;
    }
    .card-turno{
        width: 300px;
        height: 65%;
    }
}
@media screen and (max-width: 380px) {
    .cont-landing-B{
        height: 630px;
    }
    .cont-texto-Y-img-landB{
        width: 95%;
        height: auto;
    }
    .cont-card-turno{
        width: 95%;
        height: auto;
        align-items: center;
    }
    .card-turno{
        width: 300px;
        height: auto;
    }
    .btn-turno-whtsApp{
        width: 60%;
        padding: 5px;
        margin-bottom: 5px;
    }
}