@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lobster&family=Rochester&family=SUSE:wght@100..800&display=swap');

.cont-land-A{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../Images/mujerPelo3.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Evita que se repita la imagen */
}
/* código para el degrade */
.cont-land-A::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    pointer-events: none;
    /* z-index: 1; */
}
/* contenido dentro  z-index: 2; para estar encima del degrade  */
/* .cont-land-A > * {
    z-index: 2; 
} */
.cont-texto-1{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p1-texto-1,
.p3-texto-1,
.p1-texto-2,
.p2-texto-2 {
    opacity: 0;
    animation-fill-mode: forwards;
}
.p1-texto-1{
    font-size: 40px;
    color: white;
    margin: 0;
    margin-bottom: 10px;
    /* para la animaciòn */
    left: 110px;
    animation: slideInLeft 1s ease-in-out 1s forwards;
}
.p3-texto-1{
    text-align: center;
    font-size: 25px;
    color: white;
    margin: 0;
    animation: slideInLeft 1s ease-in-out 2s forwards;
}
.cont-texto-2{
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p1-texto-2{
    font-family: 'Rochester', cursive;
    font-size: 120px;
    color: white;
    margin: 0;
    text-align: center;
    animation: slideInRight 1s ease-in-out 1s forwards;
}
.p2-texto-2{
    font-size: 25px;
    color: white;
    margin: 0;
    animation: slideInRight 1s ease-in-out 2s forwards;
}
/* animacion para los textos */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/* estilos flecha que señala hacia abajo compuesta por dos palitos blancos con movimiento hacia arriba y abjo */
.cont-flecha {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.flecha {
    display: flex;
    align-items: center;
    animation: bounce 2s infinite;
}
.linea {
    width: 2px;
    height: 20px;
    margin-left: 12px;
    background-color: white;
}
.linea1 {
    transform: rotate(-50deg);
}
.linea2 {
    transform: rotate(50deg);
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* responsive */
@media screen and (max-width: 1300px) {
    .cont-land-A::before {
        height: 577px;
    }
}
@media screen and (max-width: 780px) {
    .cont-land-A {
        width: 100%;
        height: 100svh; /* o 100dvh si querés que cambie dinámicamente */
        
    }
    .cont-land-A::before{
        width: 100svh;
        height: 100svh; /* o 100dvh si querés que cambie dinámicamente */
    }
    .p1-texto-2{
        font-size: 70px;
    }
    .cont-texto-2{
        width: 95%;
        justify-content: center;
        align-items: start;
    }
    .p2-texto-2{
        width: 100%;
        text-align: center;
        font-size: 17px;
    }
}
@media screen and (max-width: 500px) {
    .cont-land-A {
        width: 100svh;
        height: 100svh; /* o 100dvh si querés que cambie dinámicamente */
        margin-top: 80px;
    }
    .cont-land-A::before{
        width: 100svh;
        height: 100svh; /* o 100dvh si querés que cambie dinámicamente */
    }
    .p1-texto-2{
        font-size: 50px;
    }
    .cont-texto-2{
        width: 95%;
        justify-content: center;
        align-items: start;
    }
    .p1-texto-1{
        font-size: 25px;
    }
    .p3-texto-1{
        font-size: 20px;
    }
    .p2-texto-2{
        width: 100%;
        text-align: center;
        font-size: 17px;
    }
}
