@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lobster&family=Rochester&family=SUSE:wght@100..800&display=swap');

.cont-land-A{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-img-land-A{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
/* código para el degrade */
.cont-img-land-A::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    pointer-events: none; /* Permite hacer clic a través del pseudo-elemento */
}
.img-land-A{
    width: 100%;
    height: 100%;
}
.cont-texto-1{
    position: absolute;
    width: auto;
    top: 120px;
    left: 100px;
}
.p1-texto-1,
.p3-texto-1{
    font-size: 25px;
    color: white;
    margin: 0;
}
.p1-texto-1{
    position: relative;
    top: 85px;
    left: 110px;
    animation: slideInRight 1s ease-in-out 2s;
}
.p2-texto-1{
    font-family: 'Rochester', cursive;
    font-size: 170px;
    color: white;
    margin: 0;
    animation: slideInLeft 1s ease-in-out 1s;
}
.p3-texto-1{
    position: relative;
    top: -30px;
    left: 80px;
    animation: slideInRight 1s ease-in-out 4s;
}
/* animacion para los textos */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.cont-texto-2{
    position: absolute;
    width: auto;
    top: 600px;
    right:100px;
}
.p1-texto-2,
.p2-texto-2{
    font-size: 25px;
    color: white;
    margin: 0;
}
/* estilos flecha que señala hacia abajo compuesta por dos palitos blancos con movimiento hacia arriba y abjo */
.cont-flecha {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.flecha {
    display: flex;
    align-items: center;
    animation: bounce 2s infinite;
}
.linea {
    width: 2px;
    height: 20px;
    margin-left: 12px;
    background-color: white;
}
.linea1 {
    transform: rotate(-50deg);
}
.linea2 {
    transform: rotate(50deg);
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}